body{
    background-color: #e5e5e5;
}
.block1,
.block2,
.block3{
    width: 512px;
    height: 512px;
}
container{
    position: absolute;
    top: 37.5%;
    left: 42.5%;
}
.block1{
    position: absolute;
    background-color: black;
}
.Vector{
    position: relative;
    top: 128.64px;
    left: 101px;
}
.Flag{
    position: relative;
    float: right;
    top: 335px;
    right: 216px;
}
.block2{
    position: absolute;
    background-color: #FFCE22;
    top: 395px;
    left: 441px;
    z-index: 2;
}
.Glyph{
    position: relative;
    bottom: 133.16px;
    left: 52.16px;
}
.block3{
    position: absolute;
    background-color: #FFFF;
    top: 812px;
    left: 864px;
}
.circle-block{
    height: 444px;
    width: 444px;
    background: #FFCE22;
    border-radius: 50%;
    position: relative;
    top: 34px;
    left: 34px;
}
.Glyph-border{
    position: relative;
    left: 45px;
    bottom: 30px;
}

