body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #FFFFFF;
}
.wide-wrapper{
    width: 1487px;
    margin: 0 auto;
}
.wrapper{
    width: 1296px;
    margin: 0 auto;
}
header{
    padding: 22px 0;
}
.logo-block,
.logo,
nav,
nav ul,
nav ul li,
nav button{
    display: inline-block;
}
.logo-block,
nav{
    width: 740px;
}
.logo{
    font-size: 27px;
    font-weight: 600;
    width: 185px;
}
nav{
    text-align: right;
    vertical-align: top;
}
.nav-link{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */
    color: #000000;
    text-decoration: none;
}
nav li{
    margin-right: 24px;
}
nav button{
    padding: 10px 16px;
    background-color: #fff;
    border: 1px solid #2203E4;
    text-align: center;
    color: #2203E4;
}
.main-btn{
    padding: 10px 16px;
    text-align: center;
    background: #0062FF;
    border: 1px solid #0062FF;
    color: #fff;
    /* border: none; */
}
.phone-block{
    padding: 90px 0;
}
.phone-img-block,
.phone-text{
    display: inline-block;
}
.phone-img-block{
    width: 450px;
    text-align: right;
}
.phone-text{
    width: 631px;
    vertical-align: top;
    padding-left: 90px;
    padding-top:120px;
}
h1{
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    color:black;
}
#text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: black;
}
.secondary-btn{
    border: 1px solid #575757;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #575757;
    padding: 10px 16px;
    margin: 24px 24px;
}
.authors-text{
    display: inline-block;
    margin-left: 340px;
    padding-bottom: 0px;
    text-align: center;
    vertical-align: top;
}
h2{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color:black;
    margin-bottom: 0px;
}
.authors-block{
    margin-bottom: 131px;
}
.author-img-block, 
.social-media,
.proffession,
.vector,
.proffession-exp{
    display: inline-block;
}
.social-media{
    margin-left: 48px;
    margin-top: 0;
}
h3{
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    margin-bottom: 0px;
    color:black;
}
h4{
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    margin-top: 0px;
    color:#575757;
}
#text-social{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #575757;
}
.socials{
    margin-right: 19px;
}
.proffession{
    margin-left: 131px;
}
.vector{
    vertical-align: top;
    padding-top: 75px;
}
.name {
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    color: #DEA405;
}

.job {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFBE0B;
}

.name2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    color: #000000;
}

.job2 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    color: #575757;
}
.wide-wrapper-for{
    width: 1514px;
    margin: 0 auto;
    background-color: #0062FF;
}
.for.header,
.block1,
.block2,
.block3,
.picture_students,
.picture_freelancers,
.picture_agency,
.picture_marketers,
.for,
.for-header{
    display: inline-block;
}
.for-header{
    text-align: center;
    margin-left: 360px;
}
.who{
    padding-top: 30px;
    color: #FFFFFF;
}
#text-who{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}
.block1{
    margin-left: 100px;
    margin-top: 78px;
}
 
.block2{
    margin-left: 100px; 
    margin-top: 46px;
}
.picture_students,
.picture_freelancers,
.picture_agency,
.picture_marketers{
    margin-right: 34px;
}
.For{
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    color: #FFFF;
    margin-top: 14px;
    margin: 0 auto;
}
.text-For{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFF;
    padding-bottom: 14px;
}
.button-for{
    margin-top: 71px;
    margin-left: 590px;
    margin-bottom: 81px;
    color: blue;
    border: 2px solid white;
    padding: 10px 16px;
    background-color: white;
}
.block4,
.block5,
.block6{
    display: inline-block;
}
.block5,
.block6{
    padding-bottom: 129.5px;
}
.block4{
    margin-left : 340px;
    vertical-align: top;
    text-align: center;
    margin-top: 21px;
}
.block5{
    margin-left: 86px;
    margin-right: 48px;
}
.block6{
    margin-right: 86px;
}
.check{
    font-style: normal;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 36px;
}
#text-check{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0px;
}
.watch{
    font-style: normal;
    margin-top: 55.5px;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 21px; 
    text-align: center;
}
#text-watch{
    font-style: normal;
    margin-top: 12px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}
.configure{
    font-style: normal;
    margin-top: 24px;
    font-weight: 400;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 21px;
    text-align: center; 
}
#text-configure{
    font-style: normal;
    margin-top: 12px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}
.read{
    font-style: normal;
    margin-top: 24px;
    font-weight: 400;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 21px;
    text-align: center; 
}
#text-read{
    font-style: normal;
    margin-top: 12px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}
.wide-wrapper-opinions{
    width: 1514px;
    margin: 0 auto;
    background-color:#FFBE0B;
}
.block7,
.block8,
.comment,
.text-ceo,
.star,
.name3{
    display: inline-block;
}
.block7{
    vertical-align: top;
    margin-left: 335px;
}
.Opinions{
    font-style: normal;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
}
.text-Opinions{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0px;
    text-align: center;
}
.block8{
    width: 702px;
    background-color: #f3f3f3;
    border-radius: 12px;
    margin-top: 42px;
    margin-left: 283px;
    margin-bottom: 67px;
}
.comment{
    margin-left: 16px;
    margin-top: 64.5px;
}
.text-ceo{
    vertical-align: top;
}
.name3{
    margin-left: 12px;
}
.job3{
    margin-left: 12px;
}
#textCeo{
    margin-left: 12px;
}
.block9{
    display: inline-block;
    margin-left: 335px;
    margin-top: 21px;
}
.start{
    font-style: normal;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
}
.textStart{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0px;
    text-align: center;
}
.block10{
    display: inline-block;
}
.block11{
    display: inline-block; 
    padding-bottom: 0px;
    margin-top: 189.19px;
    vertical-align: top;
}
.pictureIphone{
    padding-left: 152px;
    margin-top: 80.08px;
}
.starLast{
    display: inline-block;
}
.stardescription{
    display: inline-block;
}
.description3{
    color: blue;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
}
#textLast{
  margin-bottom: 0;
}
.block12{
    display: inline-block;
    padding-bottom: 103.62px;
}
.discount{
    margin-left: 485px;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
}
form{
    margin-left: 375px;
    display: inline-block;
    width: 400px;
}
input{
    width: 400px;
    border-radius: 20px;
    background-color: rgba(58, 134, 255, 0.2);
    padding: 24px 25px;
    border:none;
    margin-bottom: 20px;
}
input::placeholder{
    color: blue;
    font-size: 20px;
}
.main-btn.form{
    width: 450px;
}




